/**
 * Mobile settings 
 *
 * 960px Tablet
 **/
@media only screen and (max-width: 960px) {
	body,
	button,
	input,
	select,
	optgroup,
	textarea {
		font-size: 1rem;
		line-height: 1.2;
	}
	.header-container {
		align-content: center;
		align-items: center;
		text-align: center;
		flex-wrap: wrap;
		flex-direction: column;
	}
	.site-title a {
		font-size: 1.5rem;
	}
	.site-description {
		font-size: 1rem;
	}
	.main-navigation {
		display: none;
	}
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: flex;
		flex-flow: column;
	}
	.home .site-main {
		flex-wrap: wrap;
	}
	.home .site-main article {
  		flex: 1 100%;
	}
	.page-sidebar {
		padding: 0 0 0 15px;
	}
	.home .site-main article .col-2-layout {
		margin-right: 0;
	}
	.home .page-sidebar .widget-area .widget {
		margin-right: 0;
	}
	.home .page-sidebar .widget-area {
		flex-direction: column;
	}
	.site-info {
    	flex-direction: column;
	}
	.fatfooter {
		flex-direction: column;
	}
	.site-info .credit {
	    text-align: left;
	}
	.hamburgers {
		/* Display and activate */
		opacity: 1;
		pointer-events: all;
	}
}
/**
 * 768px Mobile
 **/
@media only screen and (max-width: 768px) {
	body,
	button,
	input,
	select,
	optgroup,
	textarea {
		font-size: 0.9rem;
	}
	.page-container {
		flex-direction: column;
	}
	.page-sidebar {
		padding: 0;
	}
}